<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Watchlist | Ecofinds</title>
  <link rel="stylesheet" href="watchlist.css"/>
</head>
<body>
  <header class="header">
    <h1>My Watchlist</h1>
  </header>

  <main class="watchlist-container">
    <div class="product-card">
      <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSmQ3f_SHtLPwipA3ipAmGbEDTWttx1cLSWgse7SoMrDRzGsnmnaNsi5DRWIFOUWAeY7uvvVphEqeLgDq36zAwN1CaFOM_q19QXCyJWtgHeqAs6D8awmXngew" alt="Product Image">
      <h3>Smart Watch</h3>
      <p>₹2,499</p>
      <button>Remove</button>
    </div>

    <div class="product-card">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQnJg7GC7mJLoBwKzGLSM-WsGRY-0SLgdld3R1w-znBXHPSFPAHqBR-59q9MA1ySQDPXvXiJKCvJARaxRxfsjbvn1QyHyqX68VaFc4ziaqEhPtf78H3P1ZwyQ" alt="Product Image">
      <h3>Refrigerator</h3>
      <p>₹7,999</p>
      <button>Remove</button>
    </div>

    <div class="product-card">
      <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRHg2ru7Pp0LUSihjEV7OXRgNVHpxMlSF8R67mXmNn0mhrGJNqo6E49LqIuvThOZyX36NgWo3xZOO-7gs2eYNVKh0kbTuVvzeCHikIeVb0QZWjbblKtEIJwxw" alt="Product Image">
      <h3>Helmet & Jacket Combo</h3>
      <p>₹1,299</p>
      <button>Remove</button>
    </div>
  </main>
</body>
</html>
