<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="category-dashboard" style="display: flex; flex-wrap: wrap; gap: 20px;">
        <!-- Navigation -->
        <div class="nav-top" style="display: flex; flex-wrap: wrap; gap: 20px;">
            <div class="menu-icon">☰</div>
            <div class="logo"><b>Eco Finds</b></div>

        </div>

        <!-- Search & Actions -->
        <div class="search-section" style="display: flex; flex-wrap: wrap; gap: 20px;">
            <input type="text" placeholder="Search ...." class="search-input" />
            <div class="action-buttons">
                <button>Sort</button>
                <button>Filter</button>
                <button>Groupby</button>
            </div>
            <div class="icons">
                <span class="home"><i class="fa-solid fa-house-chimney"></i></span>
                <span class="cart"><i class="fa-solid fa-cart-shopping"></i></span>
                <span class="wishlist"><i class="fa-regular fa-heart"></i></span>
                <span class="profile"><i class="fa-solid fa-user"></i></span>
                <span class="bell"><i class="fa-solid fa-bell"></i></span>
            </div>
        </div>

        <!-- All Category Sections -->
        <div class="categories-wrapper">
            <!-- Repeat this block for each category -->
            <div class="category">
                <h3>Electronics</h3>
                <div class="product-grid" style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div class="product-card">
                        <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTns6azd7OENfL39OuXIaU_hUnvbVcmvwaOjvQ6JtvIpcJlWPQTjVC8x4Lzem71Iy1nRALdckjsbR9wstAqZ7-4we-vPNYG-SZxd5pJM4aHfwznJ4nWOastxg"
                            alt="Electronics">
                        <h3>ME54SS ROLAND ELECTRONIC </h3>
                        <p>Price: ₹24,822.23</p>

                    </div>
                    <div class="product-card">
                        <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRV_eEHn1FMlrF84M36GhB44WeEODCAidmtWP1zc4qnBn2Zh5sN8rOaWa0hLiaQ6ujM1XApCJfmTL9xUGa8KAi90ma3ZZE5L-cC0AZ_K4id1Mx_JUt9HNBB"
                            alt="Electronics">
                        <h3>Apple iPhone 11 </h3>
                        <p>Price: ₹17,699</p>
                    </div>
                    <div class="product-card">
                        <img src="https://content.jdmagicbox.com/comp/salem/j8/0427px427.x427.121120160815.w6j8/catalogue/sathya-agencies-pvt-ltd-palapatti-salem-salem-ac-dealers-7l6ikas3a2.jpg"
                            alt="Electronics" style="height: 250px;width: 220px;">
                        <h3>Aquaguard water purifier</h3>
                        <p>Price: ₹13,499</p>
                    </div>
                    <div class="product-card">
                        <img src="https://www.electronicsbazaar.com/media/catalog/product/cache/42cb70b607a6ad026bed848f494879b1/q/c/qcdtag00956_1.jpg"
                            alt="Electronics">
                        <h3>CPU- HPwindows10 computerPC</h3>
                        <p>Price: ₹9,999</p>
                    </div>
                </div>
            </div>

            <div class="category">
                <h3>Clothing</h3>
                <div class="product-grid" style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div class="product-card">
                        <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTns6azd7OENfL39OuXIaU_hUnvbVcmvwaOjvQ6JtvIpcJlWPQTjVC8x4Lzem71Iy1nRALdckjsbR9wstAqZ7-4we-vPNYG-SZxd5pJM4aHfwznJ4nWOastxg"
                            alt="Electronics">
                        <h3>ME54SS ROLAND ELECTRONIC </h3>
                        <p>Price: ₹24,822.23</p>
                    </div>
                   
                    <div class="product-card">
                        <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcR8YAHu0iR2C-iZvUKeLCIP477c3Gqu_JdMKTmr34nh_RW2SkprSyjXfjjOR_LL_zNZjd2QL9hdz_aXcze0gqa1KbJlAFZluT7Sx-Bbh8AT1b2g4k3Q9w"
                            alt="Clothing">
                    </div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                </div>
            </div>

            <div class="category">
                <h3>Home</h3>
                <div class="product-grid" style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                </div>
            </div>

            <div class="category">
                <h3>Beauty</h3>
                <div class="product-grid" style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                </div>
            </div>

            <div class="category">
                <h3>Books</h3>
                <div class="product-grid" style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                </div>
            </div>

            <div class="category">
                <h3>Sports</h3>
                <div class="product-grid" style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                </div>
            </div>

            <div class="category">
                <h3>Toys</h3>
                <div class="product-grid" style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                </div>
            </div>

            <div class="category">
                <h3>Appliances</h3>
                <div class="product-grid" style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                </div>
            </div>

            <div class="category">
                <h3>Furniture</h3>
                <div class="product-grid" style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                </div>
            </div>

            <div class="category">
                <h3>Mobiles</h3>
                <div class="product-grid" style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                </div>
            </div>

            <div class="category">
                <h3>Grocery</h3>
                <div class="product-grid" style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                    <div class="product-card"></div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pagination-dots">
            <span>.</span><span>.</span><span>.</span><span>.</span>
        </div>
    </div>

</body>

</html>