{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">Your Cart</h2>

{% if items %}
    <div class="row">
        {% for item in items %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='uploads/' ~ item.product.image) }}" class="card-img-top" height="200">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product.title }}</h5>
                        <p class="card-text">₹{{ item.product.price }}</p>
                        <a href="{{ url_for('product_page', product_id=item.product.id) }}" class="btn btn-sm btn-outline-primary">View</a>
                        <a href="{{ url_for('buy_now', product_id=item.product.id) }}" class="btn btn-sm btn-success">Buy Now</a>
                        <a href="{{ url_for('remove_from_cart', item_id=item.id) }}" class="btn btn-sm btn-outline-danger">Remove</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}
{% endblock %}


