{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
  <div class="card shadow p-4" style="background-color: #1f2a36; color: white; width: 100%; max-width: 500px; border-radius: 20px;">
    <h2 class="text-center mb-3" style="color: #2ecc71">Eco Finds</h2>
    <p style="color: #fff; align-items: center;">Signup now.</p>

    <form method="POST" action="/register">
      <div class="mb-3">
        <input type="text" name="name" class="form-control" placeholder="Full Name" required>
      </div>
      <div class="mb-3">
        <input type="text" name="username" class="form-control" placeholder="Username" required>
      </div>
      <div class="mb-3">
        <input type="email" name="email" class="form-control" placeholder="Email" required>
      </div>
      <div class="mb-3">
        <input type="text" name="phone" class="form-control" placeholder="Phone Number" required>
      </div>
      <div class="mb-3">
        <input type="password" name="password" class="form-control" placeholder="Password" required>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-success">Register</button>
      </div>
    </form>
    <p class="text-center mt-3">Already have an account? <a href="/login" style="color: #2ecc71">Login</a></p>
  </div>
</div>
{% endblock %}
