<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <div class="form">
        <div class="brand-container">
            <img src="C:\Users\NISHAD\Downloads\logo1.jpg" alt="Logo" class="logo">
            <h1 class="app-title">EcoFinds</h1>
        </div>

        <h2 class="title">Payment Method Preferences</h2>

        <label>
            <input type="text" name="accountHolderName" required placeholder=" " />
            <span>Account Holder Name</span>
        </label>

        <label>
            <input type="text" name="bankName" required placeholder=" " />
            <span>Bank Name</span>
        </label>

        <label>
            <input type="text" name="accountNumber" required placeholder=" " />
            <span>Account Number</span>
        </label>

        <label>
            <input type="text" name="ifscCode" required placeholder=" " />
            <span>IFSC Code</span>
        </label>

        <label>
            <input type="text" name="branchName" required placeholder=" " />
            <span>Branch Name</span>
        </label>

       

        <button class="submit">Submit</button>
    </div>

</body>

</html>